body {
    background-color: #B6D4AA;
    margin: 0;
}

.parallax-container {
    min-height: 100vh;
    position: relative;
    /* prevent parallax elements from going into other elements space */
    overflow: hidden;
}

.parallax-container.alt {
    background-color: #FFCDD2;
}

.parallax-item {
    width: 300px;
    height: 300px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -150px;
    margin-top: -150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.parallax-item img {
    max-width: 100%;
    max-height: 100%;
}